<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487552711834-omi526cgh3lbi0m5nq7ra353giiu59uu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487552711834-omi526cgh3lbi0m5nq7ra353giiu59uu</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>487552711834-vs1v42nmi7i2fnjkb7qks6mop735mrmu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_4tDgI4oNU57_O5ADqmk1QhnnQOkeA5U</string>
	<key>GCM_SENDER_ID</key>
	<string>487552711834</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luminos.modernmilkmandriver.app</string>
	<key>PROJECT_ID</key>
	<string>milkman-delivery</string>
	<key>STORAGE_BUCKET</key>
	<string>milkman-delivery.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487552711834:ios:c49c285ecfb365c6bb7323</string>
	<key>DATABASE_URL</key>
	<string>https://milkman-delivery.firebaseio.com</string>
</dict>
</plist>
